.card{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 15rem;
}

.image-container {
    display: flex;
    width: 14.9rem;
    height: 15rem;
    overflow: hidden;
}

.text-container{
    width: 100%;
    border: 1px solid fuchsia;
    text-align: center;
}

.food-image{
    width: 100%;
    border: 1px solid blue;
    align-items: center;
}

.delete-button{
    width: 3rem;
}
