label{
    font-weight: bold;
}

fieldset {
    border: none;
    margin-bottom: 0.6rem;
}

label {
    margin-right: 0.3rem;
}

.instructions input{
    width: 25rem;
}

.instructions,
.ingredients {
    width: 30rem;
    label,
    input{
        margin-bottom: 0.2rem; 
    }

    h2{
        margin-bottom: 0.5rem;
    }

}

form {
    margin-left: 5rem;
    padding-top: 2rem;

    input{
        padding: 0.2rem;
    }
}

