.navbar {
  height: 80px;
  background-color: rgba(236, 206, 60, 0.881);
  color: white;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  list-style: none;
  font-family: monospace;
  margin-left: auto;
  a {
    text-decoration: none;
    color: black;
  }
}

.logo {
  height: 40px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  margin-left: 10px;
  color: black;
  font-family: monospace;
}
